body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    color: #4F545F;
    margin: 0px;
}

h1{
    background-color: #55B3C5;
    color: white;
    padding: 20px;
    margin: 0;
    /* 
    padding: 10px 30px 50px 100px;
    padding: 20px 50px;
    padding-left: 100px;
    */
}

fieldset{
    border: 2px dashed #DDDDDD;
    margin: 20px;
    padding: 20px;
    /*
    border-width: 2px;
    border-style: dashed;
    border-color: #DDDDDD;
    */
}

legend{
    font-weight: bold;
}

.formElement{
    width: 300px;
    padding: 5px 10px;
    margin-bottom: 15px;
}

#information{
    border: 1px solid #6278B0;
    display: block;
    padding: 20px 40px;
    background-color: #CCE9F8;
    text-align: center;
    margin-bottom: 15px;
}

.submissionButtons{
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #D9534F;
    color: white;
    border-radius: 5px;
}

.special{
    background-color: #56C56F;
}

.submissionButtons:hover{
    cursor: pointer;
    opacity: 80%;
}

/*
    Background color: azul
*/


