*{
    /* outline: 1px solid red; */
    margin:0px;
    padding:0px;
    font-family:Arial, Helvetica, sans-serif;
}
body {
    background-color:#245076;
    max-width:970px;
    margin:auto;
    border:1px solid black;
}
header {
    position:relative;
    margin:10px;
}
.python {
    width:300px;
    margin-left:30px;
}
.container-header {
    display:inline;
    position:absolute;
    right:0;
}
.text-size {
    display:block;
    direction:rtl;
    color:white;
    font-size:smaller;
    white-space: pre-wrap;
    margin-bottom:5px;
    margin-right:30px;
}
.link-text-size {
    color:#d2b100;
}
.search{
    background-color: #444444;
    padding:10px 30px;
    border-radius:10px;
    box-shadow:2px 2px 1px rgba(0, 0, 0, 0.6);
}
.search input {
    height:25px;
    box-shadow:1px 1px 1.5px rgba(0, 0, 0, 0.5);
}
.search input::placeholder{
    text-align:center;
}
.search button {
    color:white;
    background-color:#245076;
    padding:5px 7px;
    border-radius:5px;
    box-shadow: 1px 1px 1.5px rgba(0, 0, 0, 0.5);
    cursor:pointer;
}
.search button:active{
    color:gray;
    background-color:#1d2c3c;
}
.menu-list {
    display:flex;
    background-image:linear-gradient(to bottom, #3575ad, #487ead,#3575ad);
    width:800px;
    justify-content:space-evenly;
    margin:0 auto;
    list-style-type:none;
    border-radius:5px;
    box-shadow:2px 2px 1.5px rgba(0, 0, 0, 0.5);
}
nav a {
    display:flex;
    color: white;
    text-decoration:none;
    padding:10px;
}
section{
    display:flex;
    justify-content:center;
}
.section-links{
    display:flex;
    text-align:center;
    flex-direction: column;
    list-style-type:none;
    width:200px;
    margin-top:30px;
}
.section-links a {
    display:inline-flex;
    color: white;
    justify-content: center;
    padding-bottom:10px;
}
section li {
    color:#e6c539;
    white-space:pre-wrap;
}
.section-text {
    width:600px;
    text-align:center;
    margin-top:15px;
}
section h6 {
    display:block;
    color:white;
    font-weight:lighter;
    margin-bottom:10px;
    font-size:10.4pt;
}
section h4 {
    display:block;
    color:#ffd42e;
    font-weight:lighter;
    margin-bottom:10px;
    font-style:oblique;
    font-size:14pt;
}
section h5{
    color:white;
    font-weight:lighter;
    font-size:12pt;
    margin-bottom:20px;
}
article {
    background-color:white;
    display:flex;
    justify-content:center;
    width:970px;
    margin: 0 auto;
}
.getting-started {
    width:800px;
    text-align:center;
    box-sizing:border-box;
    margin:10px 10px;
}
.getting-started h4 {
    width:400px;
    font-size:12pt;
    font-weight:500;
    border-top:5px solid #73a7d5;
    padding:5px 0px;
}
.article-text {
    width:279px;
    display:flex;
    flex-direction:column;
    margin:auto;
}
.getting-started p {
    font-size:10pt;
}
.getting-started ul {
    display:flex;
    flex-direction:column;
    font-size:10pt;
    text-align:center;
    list-style:none;
    list-style-position:inside;
}
.getting-started li::before {
    content:"￭";
    margin-right:10px;
}
.getting-started a {
    display:inline-block;
    align-items:start;
    color:#81afd9;
    text-decoration:none;
}