*{
    /* outline: 1px dotted red; */
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    width: 800px;
    margin: 0 auto;
}
header{
    display:inline-block;
}
header h1{
    padding: 10px 20px;
    font-family: Comic Sans MS;
    float: left;
}
header h3{
    padding: 10px 20px;
    float: right;
    margin-top: 13px;
    margin-left:236px;
}
.center {
    background-image: linear-gradient(to bottom, #301E24, #6f5964,#6f5964, #301E24);
    display:inline-block;
}
main img{
    height: 236px; /*244 con borde*/
    width: 352px;
    border: 4px solid #c0c0c0;
    margin: 20px;
    float:inline-start;
}
.information{
    display:inline-block;
    width: 380px;
    margin: 20px 20px 20px 0px;
}
.information_title{
    background-image: linear-gradient(to bottom, #afaeb2, #878593, #afaeb2);
    color: white;
    padding: 7px;
}
.information_text{
    background-image: linear-gradient(to right, white, #dacbd9);
    padding: 10px 7px;
    font-size: 11pt;
}
.item{
    width: 226px;
    float:left;
    margin: 0px 20px;
}
.item img{
    max-width: 100%;
}
.image{
    height: 124.69px;
}
div .item .information_text{
    font-size: 9pt;
    margin-top: -4px;
    min-height: 140px;
}
table{
    background-image: linear-gradient(to right, white, #dacbd9);
    padding: 5px;
}
td{
    padding: 3px 3px;
}
.back{
    background-image: linear-gradient(to right, white, #dacbd9);
    display: flex;
    justify-content: center;
}
.finalText{
    color: white;
    font-size: 8pt;
    font-weight: bold;
    background-color: #407D61;
    display: inline-block;
    padding: 4.5px;
    border: 1px solid black;
    border-radius: 8px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-bottom: 13px;
}
footer{
    text-align: center;
    margin: 5px;
    font-size: 10pt;
    align-items: center;
    
}
.rrss{
    margin-top: 10px;
    font-style: italic;
}
.imgFooter{
    height: 17px;
    vertical-align: middle;
    padding-left: 5px;
}